
body {
    font-family: roboto;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.header {
    background-color: rgb(31, 41, 55);
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 200px;
    padding-right: 200px;
}

/* Header Menu Content */
ul {
    list-style: none;
    text-decoration: none;
    font-family: roboto;
    font-size: 18px;
    font-weight: 100;
    display: flex;
    gap: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: rgb(16, 16, 16);
}

h3 {
    font-size: 24px;
    font-weight: bolder;

}

p {
    font-size: 18px;
    font-weight: bolder;
}

button {
    background-color: rgb(59,130,246);
    color: rgb(255,255,255);
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
}



.section1 {
    font-family: roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: lighter;
    background-color: rgb(31, 41, 55);
    color: rgb(255, 255, 255);
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
}

.hero-img {
    width: auto;
    max-height: 300px;
    padding-top: 50px;
    padding-left:50px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 100px;
}

.section2 > div {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.section2 div p {
    font-weight: 200;
}

.box-img {
    max-width:100%;
    max-height:200px;
    height: auto;
    border-radius: 20px;
    border: 2px solid rgb(59,130,246);
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    background-color: rgb(205, 205, 205);
    padding-top: 0 300px;

}

.section3 >div:first-child > p {
    font-size: 36px;
    font-weight: 199;
    font-style: italic;
    color: rgb(48, 48, 48);    
    margin: 0;
}

.section3 >div:first-child {
    margin-top: 100px;
    padding: 0 400px;
}

.section3 >div:last-child {
    padding: 0 400px;
    margin-bottom: 100px;

}

.section3 > div:last-child > p {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    margin-top: 20px;
}

.section4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgb(59,130,246);
    border-radius: 10px;
}

.section4 > div {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section4 > div > p  {
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin: 0;
}

.section4 div h3 {
    font-size: 24px;
    color: white;
    margin: 0;
}

.section4 > button {
    background-color: rgb(59,130,246);
    color: rgb(255,255,255);
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    border-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

